# Analítica computacional para la toma de decisiones

Departamento de Ingeniería Industrial

Universidad de los Andes

## Pandas para limpieza de datos

In [16]:
import numpy as np
import pandas as pd

In [17]:
df = pd.read_csv("incident_event_log.csv")

In [18]:
df.head()

,number,incident_state,active,reassignment_count,reopen_count,sys_mod_count,made_sla,caller_id,opened_by,opened_at,...,u_priority_confirmation,notify,problem_id,rfc,vendor,caused_by,closed_code,resolved_by,resolved_at,closed_at
0,INC0000045,New,True,0,0,0,True,Caller 2403,Opened by 8,29/2/2016 01:16,...,False,Do Not Notify,?,?,?,?,code 5,Resolved by 149,29/2/2016 11:29,5/3/2016 12:00
1,INC0000045,Resolved,True,0,0,2,True,Caller 2403,Opened by 8,29/2/2016 01:16,...,False,Do Not Notify,?,?,?,?,code 5,Resolved by 149,29/2/2016 11:29,5/3/2016 12:00
2,INC0000045,Resolved,True,0,0,3,True,Caller 2403,Opened by 8,29/2/2016 01:16,...,False,Do Not Notify,?,?,?,?,code 5,Resolved by 149,29/2/2016 11:29,5/3/2016 12:00
3,INC0000045,Closed,False,0,0,4,True,Caller 2403,Opened by 8,29/2/2016 01:16,...,False,Do Not Notify,?,?,?,?,code 5,Resolved by 149,29/2/2016 11:29,5/3/2016 12:00
4,INC0000047,New,True,0,0,0,True,Caller 2403,Opened by 397,29/2/2016 04:40,...,False,Do Not Notify,?,?,?,?,code 5,Resolved by 81,1/3/2016 09:52,6/3/2016 10:00

### Datos faltantes

In [19]:
df.isna()

,number,incident_state,active,reassignment_count,reopen_count,sys_mod_count,made_sla,caller_id,opened_by,opened_at,...,u_priority_confirmation,notify,problem_id,rfc,vendor,caused_by,closed_code,resolved_by,resolved_at,closed_at
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141707,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
141708,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
141709,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
141710,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
141711,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

No hay nan, pero hay bastantes datos con "?"

In [20]:
(df == "?").sum()

number                          0
incident_state                  0
active                          0
reassignment_count              0
reopen_count                    0
sys_mod_count                   0
made_sla                        0
caller_id                      29
opened_by                    4835
opened_at                       0
sys_created_by              53076
sys_created_at              53076
sys_updated_by                  0
sys_updated_at                  0
contact_type                    0
location                       76
category                       78
subcategory                   111
u_symptom                   32964
cmdb_ci                    141267
impact                          0
urgency                         0
priority                        0
assignment_group            14213
assigned_to                 27496
knowledge                       0
u_priority_confirmation         0
notify                          0
problem_id                 139417
rfc                        140721
vendor                     141468
caused_by                  141689
closed_code                   714
resolved_by                   226
resolved_at                  3141
closed_at                       0
dtype: int64

In [21]:
df.replace("?", np.nan, inplace=True)

df.shape

(141712, 36)

Se reemplazan lo "?" con NaN para mayor facilidad

In [22]:
((df.isna()).sum()/df.shape[0]*100).sort_values(ascending=False)

caused_by                  99.983770
vendor                     99.827820
cmdb_ci                    99.685983
rfc                        99.300694
problem_id                 98.380518
sys_created_by             37.453427
sys_created_at             37.453427
u_symptom                  23.261262
assigned_to                19.402732
assignment_group           10.029496
opened_by                   3.411849
resolved_at                 2.216467
closed_code                 0.503839
resolved_by                 0.159478
subcategory                 0.078328
category                    0.055041
location                    0.053630
caller_id                   0.020464
incident_state              0.000000
number                      0.000000
reassignment_count          0.000000
active                      0.000000
contact_type                0.000000
sys_updated_by              0.000000
made_sla                    0.000000
sys_mod_count               0.000000
reopen_count                0.000000
opened_at                   0.000000
sys_updated_at              0.000000
u_priority_confirmation     0.000000
notify                      0.000000
priority                    0.000000
impact                      0.000000
urgency                     0.000000
knowledge                   0.000000
closed_at                   0.000000
dtype: float64

Las columnas "vaused_by, vendor, cmdb_ci, rfc, problem_id" son con mayor datos de datos raros

In [23]:
df.drop_duplicates().shape

(141712, 36)

No hay duplicados :(

In [24]:
print(list(df.columns))
print(len(df.columns))

['number', 'incident_state', 'active', 'reassignment_count', 'reopen_count', 'sys_mod_count', 'made_sla', 'caller_id', 'opened_by', 'opened_at', 'sys_created_by', 'sys_created_at', 'sys_updated_by', 'sys_updated_at', 'contact_type', 'location', 'category', 'subcategory', 'u_symptom', 'cmdb_ci', 'impact', 'urgency', 'priority', 'assignment_group', 'assigned_to', 'knowledge', 'u_priority_confirmation', 'notify', 'problem_id', 'rfc', 'vendor', 'caused_by', 'closed_code', 'resolved_by', 'resolved_at', 'closed_at']
36

In [25]:
df = df.dropna(axis=1, how='any')  # Elimina columnas con al menos un NaN
print(df.shape)
df = df.dropna(axis=0, how='any')  # Elimina filas con al menos un NaN
print(df.shape)

(141712, 18)
(141712, 18)

Al eliminar todas las columnas con un NaN, se queda con un dataframe de 18 columnas que no generan problema

In [26]:
print(list(df.columns))

['number', 'incident_state', 'active', 'reassignment_count', 'reopen_count', 'sys_mod_count', 'made_sla', 'opened_at', 'sys_updated_by', 'sys_updated_at', 'contact_type', 'impact', 'urgency', 'priority', 'knowledge', 'u_priority_confirmation', 'notify', 'closed_at']

hay 18 columnas sin datos raros

In [109]:
df.head()

,number,incident_state,active,reassignment_count,reopen_count,sys_mod_count,made_sla,opened_at,sys_updated_by,sys_updated_at,contact_type,impact,urgency,priority,knowledge,u_priority_confirmation,notify,closed_at
0,INC0000045,New,True,0,0,0,True,29/2/2016 01:16,Updated by 21,29/2/2016 01:23,Phone,2 - Medium,2 - Medium,3 - Moderate,True,False,Do Not Notify,5/3/2016 12:00
1,INC0000045,Resolved,True,0,0,2,True,29/2/2016 01:16,Updated by 642,29/2/2016 08:53,Phone,2 - Medium,2 - Medium,3 - Moderate,True,False,Do Not Notify,5/3/2016 12:00
2,INC0000045,Resolved,True,0,0,3,True,29/2/2016 01:16,Updated by 804,29/2/2016 11:29,Phone,2 - Medium,2 - Medium,3 - Moderate,True,False,Do Not Notify,5/3/2016 12:00
3,INC0000045,Closed,False,0,0,4,True,29/2/2016 01:16,Updated by 908,5/3/2016 12:00,Phone,2 - Medium,2 - Medium,3 - Moderate,True,False,Do Not Notify,5/3/2016 12:00
4,INC0000047,New,True,0,0,0,True,29/2/2016 04:40,Updated by 746,29/2/2016 04:57,Phone,2 - Medium,2 - Medium,3 - Moderate,True,False,Do Not Notify,6/3/2016 10:00

In [ ]:
df['sys_updated_by'] = df['sys_updated_by'].str.extract(r'(\d+)')
df['sys_updated_by']

0          21
1         642
2         804
3         908
4         746
         ...
141707     27
141708    908
141709     60
141710     27
141711     27
Name: sys_updated_by, Length: 141712, dtype: object

Se genera una columna con los numeros de quien actualizó la información.

In [36]:
df["number"].unique().shape

(24918,)

In [ ]:
df.mean(skipna=False)

Pregnant              3.845052
Glucose                    NaN
Diastolic_BP               NaN
Skin_Fold                  NaN
Serum_Insulin              NaN
BMI                        NaN
Diabetes_Pedigree     0.471876
Age                  33.240885
Class                 0.348958
dtype: float64

In [ ]:
df.count()

Pregnant             768
Glucose              763
Diastolic_BP         733
Skin_Fold            541
Serum_Insulin        394
BMI                  757
Diabetes_Pedigree    768
Age                  768
Class                768
dtype: int64

### Operaciones de resumen

In [28]:
df.min()

Pregnant              0.000
Glucose              44.000
Diastolic_BP         24.000
Skin_Fold             7.000
Serum_Insulin        14.000
BMI                  18.200
Diabetes_Pedigree     0.078
Age                  21.000
Class                 0.000
dtype: float64

In [29]:
df.max()

Pregnant              17.00
Glucose              199.00
Diastolic_BP         122.00
Skin_Fold             99.00
Serum_Insulin        846.00
BMI                   67.10
Diabetes_Pedigree      2.42
Age                   81.00
Class                  1.00
dtype: float64

In [30]:
df['Glucose'].max()

np.float64(199.0)

In [31]:
df['Glucose'].argmax() # lo podemos usar con iloc

np.int64(661)

In [32]:
df['Glucose'].idxmax() # lo podemos usar con loc

661

In [33]:
df.mean()

Pregnant               3.845052
Glucose              121.686763
Diastolic_BP          72.405184
Skin_Fold             29.153420
Serum_Insulin        155.548223
BMI                   32.457464
Diabetes_Pedigree      0.471876
Age                   33.240885
Class                  0.348958
dtype: float64

In [34]:
df.median()

Pregnant               3.0000
Glucose              117.0000
Diastolic_BP          72.0000
Skin_Fold             29.0000
Serum_Insulin        125.0000
BMI                   32.3000
Diabetes_Pedigree      0.3725
Age                   29.0000
Class                  0.0000
dtype: float64

In [35]:
df.prod()

c:\Users\WINDOWS 11\AppData\Local\Programs\Python\Python312\Lib\site-packages\numpy\_core\_methods.py:55: RuntimeWarning: overflow encountered in reduce
  return umr_prod(a, axis, dtype, out, keepdims, initial, where)

Pregnant              0.000000e+00
Glucose                        inf
Diastolic_BP                   inf
Skin_Fold                      inf
Serum_Insulin                  inf
BMI                            inf
Diabetes_Pedigree    6.660005e-321
Age                   0.000000e+00
Class                 0.000000e+00
dtype: float64

In [36]:
df.var()

Pregnant                11.354056
Glucose                932.425376
Diastolic_BP           153.317842
Skin_Fold              109.767160
Serum_Insulin        14107.703775
BMI                     47.955463
Diabetes_Pedigree        0.109779
Age                    138.303046
Class                    0.227483
dtype: float64

In [37]:
df.std()

Pregnant               3.369578
Glucose               30.535641
Diastolic_BP          12.382158
Skin_Fold             10.476982
Serum_Insulin        118.775855
BMI                    6.924988
Diabetes_Pedigree      0.331329
Age                   11.760232
Class                  0.476951
dtype: float64

In [38]:
df.skew()

Pregnant             0.901674
Glucose              0.530989
Diastolic_BP         0.134153
Skin_Fold            0.690619
Serum_Insulin        2.166464
BMI                  0.593970
Diabetes_Pedigree    1.919911
Age                  1.129597
Class                0.635017
dtype: float64

In [39]:
df.kurt()

Pregnant             0.159220
Glucose             -0.277040
Diastolic_BP         0.911158
Skin_Fold            2.935491
Serum_Insulin        6.370522
BMI                  0.863379
Diabetes_Pedigree    5.594954
Age                  0.643159
Class               -1.600930
dtype: float64

In [40]:
df.cumsum()

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,7,233.0,138.0,64.0,NaN,60.2,0.978,81,1
2,15,416.0,202.0,NaN,NaN,83.5,1.650,113,2
3,16,505.0,268.0,87.0,94.0,111.6,1.817,134,2
4,16,642.0,308.0,122.0,262.0,154.7,4.105,167,3
...,...,...,...,...,...,...,...,...,...
763,2944,92385.0,52801.0,15691.0,61174.0,24446.8,361.152,25402,267
764,2946,92507.0,52871.0,15718.0,NaN,24483.6,361.492,25429,267
765,2951,92628.0,52943.0,15741.0,61286.0,24509.8,361.737,25459,267
766,2952,92754.0,53003.0,NaN,NaN,24539.9,362.086,25506,268
767,2953,92847.0,53073.0,15772.0,NaN,24570.3,362.401,25529,268

In [41]:
df.cummin()

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,1,85.0,64.0,NaN,NaN,23.3,0.351,31,0
3,1,85.0,64.0,23.0,94.0,23.3,0.167,21,0
4,0,85.0,40.0,23.0,94.0,23.3,0.167,21,0
...,...,...,...,...,...,...,...,...,...
763,0,44.0,24.0,7.0,14.0,18.2,0.078,21,0
764,0,44.0,24.0,7.0,NaN,18.2,0.078,21,0
765,0,44.0,24.0,7.0,14.0,18.2,0.078,21,0
766,0,44.0,24.0,NaN,NaN,18.2,0.078,21,0
767,0,44.0,24.0,7.0,NaN,18.2,0.078,21,0

In [42]:
df.cummax()

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
2,8,183.0,72.0,NaN,NaN,33.6,0.672,50,1
3,8,183.0,72.0,35.0,94.0,33.6,0.672,50,1
4,8,183.0,72.0,35.0,168.0,43.1,2.288,50,1
...,...,...,...,...,...,...,...,...,...
763,17,199.0,122.0,99.0,846.0,67.1,2.420,81,1
764,17,199.0,122.0,99.0,NaN,67.1,2.420,81,1
765,17,199.0,122.0,99.0,846.0,67.1,2.420,81,1
766,17,199.0,122.0,NaN,NaN,67.1,2.420,81,1
767,17,199.0,122.0,99.0,NaN,67.1,2.420,81,1

In [43]:
df

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101.0,76.0,48.0,180.0,32.9,0.171,63,0
764,2,122.0,70.0,27.0,NaN,36.8,0.340,27,0
765,5,121.0,72.0,23.0,112.0,26.2,0.245,30,0
766,1,126.0,60.0,NaN,NaN,30.1,0.349,47,1
767,1,93.0,70.0,31.0,NaN,30.4,0.315,23,0

In [44]:
df.diff()

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-5.0,-63.0,-6.0,-6.0,NaN,-7.0,-0.276,-19.0,-1.0
2,7.0,98.0,-2.0,NaN,NaN,-3.3,0.321,1.0,1.0
3,-7.0,-94.0,2.0,NaN,NaN,4.8,-0.505,-11.0,-1.0
4,-1.0,48.0,-26.0,12.0,74.0,15.0,2.121,12.0,1.0
...,...,...,...,...,...,...,...,...,...
763,1.0,12.0,14.0,NaN,NaN,10.4,0.029,30.0,0.0
764,-8.0,21.0,-6.0,-21.0,NaN,3.9,0.169,-36.0,0.0
765,3.0,-1.0,2.0,-4.0,NaN,-10.6,-0.095,3.0,0.0
766,-4.0,5.0,-12.0,NaN,NaN,3.9,0.104,17.0,1.0
767,0.0,-33.0,10.0,NaN,NaN,0.3,-0.034,-24.0,-1.0

In [45]:
df.corr()

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
Pregnant,1.000000,0.128135,0.214178,0.100239,0.082171,0.021719,-0.033523,0.544341,0.221898
Glucose,0.128135,1.000000,0.223192,0.228043,0.581186,0.232771,0.137246,0.267136,0.494650
Diastolic_BP,0.214178,0.223192,1.000000,0.226839,0.098272,0.289230,-0.002805,0.330107,0.170589
Skin_Fold,0.100239,0.228043,0.226839,1.000000,0.184888,0.648214,0.115016,0.166816,0.259491
Serum_Insulin,0.082171,0.581186,0.098272,0.184888,1.000000,0.228050,0.130395,0.220261,0.303454
BMI,0.021719,0.232771,0.289230,0.648214,0.228050,1.000000,0.155382,0.025841,0.313680
Diabetes_Pedigree,-0.033523,0.137246,-0.002805,0.115016,0.130395,0.155382,1.000000,0.033561,0.173844
Age,0.544341,0.267136,0.330107,0.166816,0.220261,0.025841,0.033561,1.000000,0.238356
Class,0.221898,0.494650,0.170589,0.259491,0.303454,0.313680,0.173844,0.238356,1.000000

In [46]:
df.cov()

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
Pregnant,11.354056,13.204205,8.905669,3.491672,31.325829,0.506853,-0.037426,21.570620,0.356618
Glucose,13.204205,932.425376,84.811985,74.025750,2127.014566,49.355133,1.391220,96.027349,7.202521
Diastolic_BP,8.905669,84.811985,153.317842,29.240422,145.553584,24.644988,-0.011605,48.383369,1.003953
Skin_Fold,3.491672,74.025750,29.240422,109.767160,230.676780,46.725661,0.417708,18.777162,1.282193
Serum_Insulin,31.325829,2127.014566,145.553584,230.676780,14107.703775,190.422831,5.422691,266.821935,16.968781
BMI,0.506853,49.355133,24.644988,46.725661,190.422831,47.955463,0.354519,2.093334,1.037718
Diabetes_Pedigree,-0.037426,1.391220,-0.011605,0.417708,5.422691,0.354519,0.109779,0.130772,0.027472
Age,21.570620,96.027349,48.383369,18.777162,266.821935,2.093334,0.130772,138.303046,1.336953
Class,0.356618,7.202521,1.003953,1.282193,16.968781,1.037718,0.027472,1.336953,0.227483

In [47]:
df['Glucose'].corr(df['Age'])

np.float64(0.2671355547312526)

In [48]:
df.corrwith(df['Diabetes_Pedigree'])

Pregnant            -0.033523
Glucose              0.137246
Diastolic_BP        -0.002805
Skin_Fold            0.115016
Serum_Insulin        0.130395
BMI                  0.155382
Diabetes_Pedigree    1.000000
Age                  0.033561
Class                0.173844
dtype: float64

### Valores y conteos

In [49]:
df.count()

Pregnant             768
Glucose              763
Diastolic_BP         733
Skin_Fold            541
Serum_Insulin        394
BMI                  757
Diabetes_Pedigree    768
Age                  768
Class                768
dtype: int64

In [50]:
df['Class'].unique() # no disponible para DataFrame

array([1, 0])

In [51]:
df.value_counts()

Pregnant  Glucose  Diastolic_BP  Skin_Fold  Serum_Insulin  BMI   Diabetes_Pedigree  Age  Class
0         74.0     52.0          10.0       36.0           27.8  0.269              22   0        1
          78.0     88.0          29.0       40.0           36.9  0.434              21   0        1
          84.0     64.0          22.0       66.0           35.8  0.545              21   0        1
                   82.0          31.0       125.0          38.2  0.233              23   0        1
          91.0     68.0          32.0       210.0          39.9  0.381              25   0        1
                                                                                                 ..
13        152.0    90.0          33.0       29.0           26.8  0.731              43   1        1
          153.0    88.0          37.0       140.0          40.6  1.174              39   0        1
14        100.0    78.0          25.0       184.0          36.6  0.412              46   1        1
15        136.0    70.0          32.0       110.0          37.1  0.153              43   1        1
17        163.0    72.0          41.0       114.0          40.9  0.817              47   1        1
Name: count, Length: 392, dtype: int64

In [52]:
df['Class'].value_counts()

Class
0    500
1    268
Name: count, dtype: int64

### Duplicados

In [53]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
763    False
764    False
765    False
766    False
767    False
Length: 768, dtype: bool

In [54]:
df.drop_duplicates().shape

(768, 9)

### Transformación

In [55]:
df.head()

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1

In [56]:
class_to_label={
    0:'N',
    1:'S'
}

In [57]:
df2 = df.copy()

In [58]:
df['class_label'] = df['Class'].map(class_to_label)

In [59]:
df.head()

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class,class_label
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1,S
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0,N
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1,S
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0,N
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1,S

In [60]:
def class_label(x):
  if x==0:
    return 'N'
  else:
    return 'S'

In [61]:
df['Class'].map(class_label)

0      S
1      N
2      S
3      N
4      S
      ..
763    N
764    N
765    N
766    S
767    N
Name: Class, Length: 768, dtype: object

Transformaciones sobre los índices

In [62]:
df2 = pd.DataFrame(np.arange(12).reshape((3, 4)),
                    index=["Uruguay", "Argentina", "Brasil"],
                    columns=["a", "b", "c", "d"])

In [63]:
df2

           a  b   c   d
Uruguay    0  1   2   3
Argentina  4  5   6   7
Brasil     8  9  10  11

In [64]:
def reduc_mayus(x):
  return x[:3].upper()

In [65]:
df2.index.map(reduc_mayus)

Index(['URU', 'ARG', 'BRA'], dtype='object')

In [66]:
df2.index.map(str.upper)

Index(['URUGUAY', 'ARGENTINA', 'BRASIL'], dtype='object')

In [67]:
df3 = df2.copy()

In [68]:
df3.index

Index(['Uruguay', 'Argentina', 'Brasil'], dtype='object')

In [69]:
df3.index = df3.index.map(reduc_mayus)

In [70]:
df3

     a  b   c   d
URU  0  1   2   3
ARG  4  5   6   7
BRA  8  9  10  11

In [71]:
df['Pregnant'].replace(0,-1) # también se pueden usar listas o un diccionario

0       6
1       1
2       8
3       1
4      -1
       ..
763    10
764     2
765     5
766     1
767     1
Name: Pregnant, Length: 768, dtype: int64

In [72]:
df['Pregnant'].replace([0, 1], [-1, -10])

0       6
1     -10
2       8
3     -10
4      -1
       ..
763    10
764     2
765     5
766   -10
767   -10
Name: Pregnant, Length: 768, dtype: int64

In [73]:
df['Pregnant'].replace({0:-1, 1:-10})

0       6
1     -10
2       8
3     -10
4      -1
       ..
763    10
764     2
765     5
766   -10
767   -10
Name: Pregnant, Length: 768, dtype: int64

### Duplicados

In [74]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
763    False
764    False
765    False
766    False
767    False
Length: 768, dtype: bool

In [75]:
df.duplicated().sum()

np.int64(0)

In [76]:
df.duplicated(subset=['Glucose']).sum()

np.int64(632)

In [77]:
df.drop_duplicates().shape

(768, 10)

In [78]:
df.drop_duplicates(subset=['Glucose']).shape

(136, 10)

### Discretización

In [79]:
df

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class,class_label
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1,S
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0,N
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1,S
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0,N
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1,S
...,...,...,...,...,...,...,...,...,...,...
763,10,101.0,76.0,48.0,180.0,32.9,0.171,63,0,N
764,2,122.0,70.0,27.0,NaN,36.8,0.340,27,0,N
765,5,121.0,72.0,23.0,112.0,26.2,0.245,30,0,N
766,1,126.0,60.0,NaN,NaN,30.1,0.349,47,1,S
767,1,93.0,70.0,31.0,NaN,30.4,0.315,23,0,N

In [80]:
edad = df['Age']
edad

0      50
1      31
2      32
3      21
4      33
       ..
763    63
764    27
765    30
766    47
767    23
Name: Age, Length: 768, dtype: int64

In [81]:
edad.describe()

count    768.000000
mean      33.240885
std       11.760232
min       21.000000
25%       24.000000
50%       29.000000
75%       41.000000
max       81.000000
Name: Age, dtype: float64

In [82]:
bins = [18, 30, 40, 50, 60, 70, 100]

In [83]:
edad_cat = pd.cut(edad, bins) # límites explícitos
edad_cat

0      (40, 50]
1      (30, 40]
2      (30, 40]
3      (18, 30]
4      (30, 40]
         ...
763    (60, 70]
764    (18, 30]
765    (18, 30]
766    (40, 50]
767    (18, 30]
Name: Age, Length: 768, dtype: category
Categories (6, interval[int64, right]): [(18, 30] < (30, 40] < (40, 50] < (50, 60] < (60, 70] < (70, 100]]

In [84]:
edad_cat.value_counts()

Age
(18, 30]     417
(30, 40]     157
(40, 50]     113
(50, 60]      54
(60, 70]      25
(70, 100]      2
Name: count, dtype: int64

In [85]:
edad_cat = pd.cut(edad, bins, right=False)
edad_cat

0      [50, 60)
1      [30, 40)
2      [30, 40)
3      [18, 30)
4      [30, 40)
         ...
763    [60, 70)
764    [18, 30)
765    [30, 40)
766    [40, 50)
767    [18, 30)
Name: Age, Length: 768, dtype: category
Categories (6, interval[int64, left]): [[18, 30) < [30, 40) < [40, 50) < [50, 60) < [60, 70) < [70, 100)]

In [86]:
edad_cat.value_counts()

Age
[18, 30)     396
[30, 40)     165
[40, 50)     118
[50, 60)      57
[60, 70)      29
[70, 100)      3
Name: count, dtype: int64

In [87]:
nombres_cats = ['joven', 'adulto1', 'adulto2', 'adulto3', 'adulto4', 'adulto mayor']

In [88]:
edad_cat = pd.cut(edad, bins, labels=nombres_cats)
edad_cat

0      adulto2
1      adulto1
2      adulto1
3        joven
4      adulto1
        ...
763    adulto4
764      joven
765      joven
766    adulto2
767      joven
Name: Age, Length: 768, dtype: category
Categories (6, object): ['joven' < 'adulto1' < 'adulto2' < 'adulto3' < 'adulto4' < 'adulto mayor']

In [89]:
edad_cat.value_counts()

Age
joven           417
adulto1         157
adulto2         113
adulto3          54
adulto4          25
adulto mayor      2
Name: count, dtype: int64

In [90]:
edad_cat_v2 = pd.cut(edad, 10) # límites equidistantes
edad_cat_v2

0       (45.0, 51.0]
1       (27.0, 33.0]
2       (27.0, 33.0]
3      (20.94, 27.0]
4       (27.0, 33.0]
           ...
763     (57.0, 63.0]
764    (20.94, 27.0]
765     (27.0, 33.0]
766     (45.0, 51.0]
767    (20.94, 27.0]
Name: Age, Length: 768, dtype: category
Categories (10, interval[float64, right]): [(20.94, 27.0] < (27.0, 33.0] < (33.0, 39.0] < (39.0, 45.0] ... (57.0, 63.0] < (63.0, 69.0] < (69.0, 75.0] < (75.0, 81.0]]

In [91]:
edad_cat_v2.unique()

[(45.0, 51.0], (27.0, 33.0], (20.94, 27.0], (51.0, 57.0], (33.0, 39.0], (57.0, 63.0], (39.0, 45.0], (63.0, 69.0], (69.0, 75.0], (75.0, 81.0]]
Categories (10, interval[float64, right]): [(20.94, 27.0] < (27.0, 33.0] < (33.0, 39.0] < (39.0, 45.0] ... (57.0, 63.0] < (63.0, 69.0] < (69.0, 75.0] < (75.0, 81.0]]

In [92]:
edad_cat_v2.value_counts()

Age
(20.94, 27.0]    332
(27.0, 33.0]     142
(39.0, 45.0]      89
(33.0, 39.0]      87
(45.0, 51.0]      45
(51.0, 57.0]      31
(57.0, 63.0]      25
(63.0, 69.0]      14
(69.0, 75.0]       2
(75.0, 81.0]       1
Name: count, dtype: int64

In [93]:
edad_cat_v3 = pd.qcut(edad, [0, 0.2 , 0.5, 0.7, 0.9, 1]) # cuantiles
edad_cat_v3

0        (38.0, 51.0]
1        (29.0, 38.0]
2        (29.0, 38.0]
3      (20.999, 23.0]
4        (29.0, 38.0]
            ...
763      (51.0, 81.0]
764      (23.0, 29.0]
765      (29.0, 38.0]
766      (38.0, 51.0]
767    (20.999, 23.0]
Name: Age, Length: 768, dtype: category
Categories (5, interval[float64, right]): [(20.999, 23.0] < (23.0, 29.0] < (29.0, 38.0] < (38.0, 51.0] < (51.0, 81.0]]

In [94]:
edad_cat_v3.unique()

[(38.0, 51.0], (29.0, 38.0], (20.999, 23.0], (23.0, 29.0], (51.0, 81.0]]
Categories (5, interval[float64, right]): [(20.999, 23.0] < (23.0, 29.0] < (29.0, 38.0] < (38.0, 51.0] < (51.0, 81.0]]

In [95]:
edad_cat_v3.value_counts()

Age
(23.0, 29.0]      223
(20.999, 23.0]    173
(29.0, 38.0]      153
(38.0, 51.0]      146
(51.0, 81.0]       73
Name: count, dtype: int64

### Variables indicadoras (dummy)

In [96]:
df_var = pd.DataFrame({"cat": ["c2", "c2", "c1", "c3", "c2", "c3"],
                   "val": np.arange(6.)})
df_var

  cat  val
0  c2  0.0
1  c2  1.0
2  c1  2.0
3  c3  3.0
4  c2  4.0
5  c3  5.0

In [97]:
pd.get_dummies(df_var['cat'])

      c1     c2     c3
0  False   True  False
1  False   True  False
2   True  False  False
3  False  False   True
4  False   True  False
5  False  False   True

In [98]:
pd.get_dummies(df_var['cat'], dtype=int)

   c1  c2  c3
0   0   1   0
1   0   1   0
2   1   0   0
3   0   0   1
4   0   1   0
5   0   0   1

In [99]:
pd.get_dummies(df_var['cat'], dtype=float)

    c1   c2   c3
0  0.0  1.0  0.0
1  0.0  1.0  0.0
2  1.0  0.0  0.0
3  0.0  0.0  1.0
4  0.0  1.0  0.0
5  0.0  0.0  1.0

In [100]:
pd.get_dummies(df_var['cat'], dtype=int, prefix='cat')

   cat_c1  cat_c2  cat_c3
0       0       1       0
1       0       1       0
2       1       0       0
3       0       0       1
4       0       1       0
5       0       0       1

In [101]:
df_var_dummies = df_var.join(pd.get_dummies(df_var['cat'], dtype=int, prefix='cat'))
df_var_dummies

  cat  val  cat_c1  cat_c2  cat_c3
0  c2  0.0       0       1       0
1  c2  1.0       0       1       0
2  c1  2.0       1       0       0
3  c3  3.0       0       0       1
4  c2  4.0       0       1       0
5  c3  5.0       0       0       1

In [102]:
df_var_dummies = df_var.join(pd.get_dummies(df_var['cat'], dtype=int, prefix='cat')).drop('cat',axis=1)
df_var_dummies

   val  cat_c1  cat_c2  cat_c3
0  0.0       0       1       0
1  1.0       0       1       0
2  2.0       1       0       0
3  3.0       0       0       1
4  4.0       0       1       0
5  5.0       0       0       1

Discretización + dummies

In [103]:
edad_cat = pd.cut(edad, bins)
edad_cat

0      (40, 50]
1      (30, 40]
2      (30, 40]
3      (18, 30]
4      (30, 40]
         ...
763    (60, 70]
764    (18, 30]
765    (18, 30]
766    (40, 50]
767    (18, 30]
Name: Age, Length: 768, dtype: category
Categories (6, interval[int64, right]): [(18, 30] < (30, 40] < (40, 50] < (50, 60] < (60, 70] < (70, 100]]

In [104]:
edad_cat_dummies = pd.get_dummies(pd.cut(edad, bins), dtype=int)
edad_cat_dummies

     (18, 30]  (30, 40]  (40, 50]  (50, 60]  (60, 70]  (70, 100]
0           0         0         1         0         0          0
1           0         1         0         0         0          0
2           0         1         0         0         0          0
3           1         0         0         0         0          0
4           0         1         0         0         0          0
..        ...       ...       ...       ...       ...        ...
763         0         0         0         0         1          0
764         1         0         0         0         0          0
765         1         0         0         0         0          0
766         0         0         1         0         0          0
767         1         0         0         0         0          0

[768 rows x 6 columns]